.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  border-radius: 15px;
  background-color: #ffc587;

  :global(.dark-mode) & {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    border-radius: 15px;
    background-color: #a787ff;
  }
}
